<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pittura</title>
  
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= keywords %>" />

  <link rel="apple-touch-icon" href="/images/site_icon/apple-touch-icon.png" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/root.css" />
  <link rel="stylesheet" href="/stylesheets/works.css" />
  
  
  </head>

  <body>

  <div class="wrap">
    <div class="container">

      <div class="title">
        <a href="/">Pittura</a>
      </div>

<!--yeild-->

<div class="cent">
    キャンバスを選んでください。
</div>
<div class="cent">
    <a href="draw-sand.html" class="btn btn-default btn-lg mode-sel-btn">砂 浜<br/><img src="/images/picture/sand.jpg" class="sel_img"></a>
</div>
<div class="cent">
    <a href="draw-window.html" class="btn btn-default btn-lg mode-sel-btn">曇った窓<br/><img src="/images/picture/window.jpg" class="sel_img"></a>
</div>
<div class="cent">
    <a href="draw-sky.html" class="btn btn-default btn-lg mode-sel-btn">空 / 雲<br/><img src="/images/picture/sky.jpg" class="sel_img"></a>
</div>

<!---->

    </div>
  </div>
  </body>
</html>
